<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Updater</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="background-color: #e9ecef">

      <div class="row">
        <% ads.forEach(function(ad){ %>
          <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text"><iframe onmouseout="gg(this)" onLoad="refresh(this)" src="iframer?url=<%= ad.uri %>&price=<%= ad.adPrice %>&header=<%= ad.adHeader %>&body=<%= ad.adBody.replace('\n', '<br>') %>&email=<%= ad.adEmail %>&name=<%= ad.adPersonaName %>&phone=<%= ad.adPersonaPhone %>&captchaid=<%= ad.adCaptchaId %>" width="100%" height="300px" style="border: 1px solid #dedede"></iframe></p>
                  <a href="<%= ad.uri %>" class="btn btn-primary">Ver anuncio</a>
                </div>
              </div>
          </div>
            
        <% }); %>
      </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
          var iframeList = [];

          /*$(window).on('load', function(){
            console.log($('iframe'));
          });*/

          var refresh = function(e){
            //console.log(e.src);    
            //alert(e.src);
            if(e.src.includes("anuncio-modificado")){
              alert("yeyy");
            }
          }

          var gg2 = function(e){
            //$(e).fadeOut();
            
            $('iframe').each(function(index, miframe){
              miframe.src = miframe.src;
            });
          }

          var test = function(e){
            $(e)
          }

          $(document).on("keypress", function (e) {
            if(e.keyCode == 13){
              $('iframe').each(function(index, miframe){
                console.log(miframe.contentWindow.body)
            });
            }
          });
        </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>
